**/Final[[:space:]]Project/*.pkl filter=lfs diff=lfs merge=lfs -text
**/Final[[:space:]]Project/*.keras filter=lfs diff=lfs merge=lfs -text
**/Final[[:space:]]Project/*.csv filter=lfs diff=lfs merge=lfs -text
